@import '~@fortawesome/fontawesome-free/css/all.css';
#inputText {
    margin: 0;
    padding: 0;
    font-family: 'Material Icons';
    position: relative;
    border: 1px solid greenyellow;
    width: 800px;
    height: 50px;
}

#font {
    margin: 0;
    padding: 0;
    position: absolute;
}

#inputText a.a {}

#div {
    margin: 0;
    padding: 0;
    position: absolute;
}

#div>input {
    width: 700px;
    border: none;
    background: rgb(39, 206, 248);
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
}